<div>
  <svg
    class="bottom"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <path
        id={{this.shapeId}}
        d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
      ></path>
      <clipPath id={{this.maskId}}>
        <use fill-rule="evenodd" xlink:href="#{{shapeId}}"></use>
      </clipPath>
    </defs>
    <g style="clip-path: url(#{{this.maskId}}); {{this.backgroundStyle}}">
      <rect class="bg" x="0" y="0" width="100%" height="100%"></rect>
    </g>
    {{#if @src}}
      <image x="0" y="0" xlink:href="{{@src}}" width="100%" height="100%"></image>
    {{/if}}
  </svg>
  <svg
    class="top"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  <div class="container">
    {{#if @logo}}
      <div class="logo">
        <img class="logo-img" src="{{@logo}}" alt="" />
      </div>
    {{/if}}
    <div class="content">
      {{yield}}
    </div>
  </div>
</div>