<div>
  <Header
    @title="Calendar"
    @description="Find out where and when there are upcoming events, conferences and meetups we will be attending or organizing in our calendar."
  >
    <HeaderContent @headline="Calendar">
      <p typography:class="lead">
        Find out about upcoming events, conferences and meetups we will be attending or organizing.
      </p>
    </HeaderContent>
  </Header>
  {{#if conferences}}
    <section layout:class="main" offset:class="after-21">
      <h2>
        Conferences
      </h2>
      {{#each conferences}}
        <div media:scope offset:class="after-12">
          <img media:class="item" size:class="w-10" src="{{meta.image}}" alt="" />
          <div media:class="body">
            <h3>
              {{meta.title}}
            </h3>
            <p>
              {{meta.date}}
              ,
              {{meta.location}}
            </p>
            {{#if content}}
              {{{content}}}
            {{/if}}
            <ArrowLink @href="{{meta.url}}">
              View Website
            </ArrowLink>
          </div>
        </div>
      {{/each}}
    </section>
  {{/if}}
  {{#if meetups}}
    <section layout:class="main" offset:class="after-21">
      <h2>
        Meetups
      </h2>
      {{#each meetups}}
        <div media:scope offset:class="after-12">
          <img media:class="item" size:class="w-10" src="{{meta.image}}" alt="" />
          <div media:class="body">
            <h3>
              {{meta.title}}
            </h3>
            <p>
              {{meta.date}}
              ,
              {{meta.location}}
            </p>
            {{#if content}}
              {{{content}}}
            {{/if}}
            <ArrowLink @href="{{meta.url}}">
              View Website
            </ArrowLink>
          </div>
        </div>
      {{/each}}
    </section>
  {{/if}}
  {{#if workshops}}
    <section layout:class="main" offset:class="after-21">
      <h2>
        Workshops
      </h2>
      {{#each workshops}}
        <div media:scope offset:class="after-12">
          <img media:class="item" size:class="w-10" src="{{meta.image}}" alt="" />
          <div media:class="body">
            <h3>
              {{meta.title}}
            </h3>
            <p>
              {{meta.date}}
              ,
              {{meta.location}}
            </p>
            {{#if content}}
              {{{content}}}
            {{/if}}
            <ArrowLink @href="{{meta.url}}">
              View Website
            </ArrowLink>
          </div>
        </div>
      {{/each}}
    </section>
  {{/if}}
  <aside layout:class="side">
    <Card @label="Connect" @title="@simplabs on Twitter">
      <p>
        We share our latest updates and events on our Twitter page.
      </p>
      <ArrowLink @href="https://twitter.com/simplabs">
        Visit our Twitter Page
      </ArrowLink>
    </Card>
  </aside>
  <Footer />
</div>