<div>
  <Header @title="Calendar">
    <p class="typography.lead">
      Find out about upcoming events, conferences and meetups we will be attending or organizing.
    </p>
  </Header>
  <div class="container o.after-21">
    <div class="main-block">
      <div class="main-block.content">
        {{#if conferences}}
          <div class="main-block.content-heading">
            <h2>
              Conferences
            </h2>
          </div>
          {{#each conferences}}
            <div class="main-block.content-row">
              <div class="main-block.content-col">
                <div class="main-block.content-col-image">
                  <img class="main-block.image-small" src="{{meta.image}}" alt="logo of the conference" />
                </div>
              </div>
              <div class="main-block.content-col">
                <h3>
                  {{meta.title}}
                </h3>
                <p>
                  {{meta.date}}
                  ,
                  {{meta.location}}
                </p>
                {{#if content}}
                  {{{content}}}
                {{/if}}
                <ArrowLink @href="{{meta.url}}">
                  View Website
                </ArrowLink>
              </div>
            </div>
          {{/each}}
        {{/if}}
        {{#if meetups}}
          <div class="main-block.content-heading">
            <h2>
              Meetups
            </h2>
          </div>
          {{#each meetups}}
            <div class="main-block.content-row">
              <div class="main-block.content-col">
                <div class="main-block.content-col-image">
                  <img class="main-block.image-small" src="{{meta.image}}" alt="logo of the meetup" />
                </div>
              </div>
              <div class="main-block.content-col">
                <h3>
                  {{meta.title}}
                </h3>
                <p>
                  {{meta.date}}
                  ,
                  {{meta.location}}
                </p>
                {{#if content}}
                  {{{content}}}
                {{/if}}
                <ArrowLink @href="{{meta.url}}">
                  View Website
                </ArrowLink>
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
      <div class="main-block.sidebar">
        <Card @label="Connect" @title="@simplabs on Twitter">
          <p>
            We share our latest updates and events on our Twitter page.
          </p>
          <ArrowLink @href="https://twitter.com/simplabs">
            Visit our Twitter Page
          </ArrowLink>
        </Card>
      </div>
    </div>
  </div>
  <Footer />
</div>