<div>
  <Header
    @title="Talks, Workshops & Podcasts"
    @description="We value sharing our expertise. Watch 30+ videos. From Product Design to Engineering. Global events include: JSConf, EmberFest, ReactiveConf, and many more."
  >
    <HeaderContent @headline="Talks">
      <p typography:class="lead">
        We strongly believe in the value of sharing our expertise and experience with others. Here are a collection of
        conference talks and other appearances that members of our team made at various events all over the world in the
        past years.
      </p>
    </HeaderContent>
  </Header>
  <h2 layout:class="full">
    Latest Talks
  </h2>
  {{#each channels}}
    <div layout:class="main" offset:class="after-16">
      <h3>
        {{meta.title}}
      </h3>
      {{#each appearances}}
        <article media:scope offset:class="after-12">
          <img media:class="item" size:class="w-10" src="{{meta.image}}" alt="" />
          <div media:class="body">
            <h4>
              {{meta.title}}
            </h4>
            <p>
              {{description}}
            </p>
            <ArrowLink @href="{{meta.url}}">
              {{#if isVideo}}
                Watch Video
              {{else if isPodcast}}
                Listen to Episode
              {{/if}}
            </ArrowLink>
          </div>
        </article>
      {{/each}}
    </div>
    <div layout:class="side" block:class="offset-vertical" offset:class="after-16">
      <Card @src="{{meta.image}}" @alt="{{meta.title}}">
        <p>
          {{description}}
        </p>
        <ArrowLink @href="{{meta.url}}">
          Learn more
        </ArrowLink>
      </Card>
    </div>
  {{/each}}
  <Footer />
</div>