<figure>
  {{#if @label}}
    <p typography:class="small">
      {{@label}}
    </p>
  {{/if}}
  {{#if @src}}
    <div fluid-image:class="image" block:class="image">
      <img fluid-image:class="image-cover" src={{@src}} alt="{{@alt}}" />
    </div>
  {{/if}}
  <figcaption block:class="caption">
    <h3 typography:class="h4" block:class="headline">
      {{@title}}
    </h3>
    {{yield}}
  </figcaption>
</figure>