<div>
  <Header @flex-content="true">
    <div class="blog-post.badge">
      <div class="blog-post.badge-image">
        <img class="fluid-image.image" src="/assets/images/authors/{{twitter}}.jpg" />
      </div>
      <div class="blog-post.badge-content">
        <a class="typography.link" href="/blog/author/{{twitter}}" data-internal>
          {{name}}
        </a>
        <p>
          {{bio}}
        </p>
        <a href="https://twitter.com/{{author.twitter}}" class="typography.link" target="_blank" rel="noopener">
          @
          {{twitter}}
        </a>
      </div>
    </div>
    <div>
      <p class="typography.small-text">
        Blog
      </p>
      <h1 class="typography.display">
        Posts by
        {{name}}
      </h1>
      {{{excerpt}}}
    </div>
  </Header>
  <div class="container">
    <div class="main-block">
      <div class="blog-post.content-post">
        {{#each posts}}
          <div class="main-block.content-item">
            <span class="typography.tag">
              #
              {{topic}}
            </span>
            <div class="blog-post.excerpt">
              <h3 class="typography.headline-2">
                <a class="typography.title-link" href="{{path}}" data-internal>
                  {{title}}
                </a>
              </h3>
              {{{excerpt}}}
              <a class="typography.link" href="/blog/author/{{author.twitter}}" data-internal>
                {{author.name}}
              </a>
              <p class="typography.small-text">
                {{date}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <WorkWithUs />
  <Footer />
</div>