<div>
  <Header @title="Blog" />
  <ShapeBlog>
    <article>
      <span class="typography.tag">
        #
        {{latest.topic}}
      </span>
      <h2>
        <a href="{{latest.path}}" data-internal>
          {{latest.title}}
        </a>
      </h2>
      {{{latest.excerpt}}}
      <a href="/blog/author/{{latest.author.twitter}}" data-internal>
        {{latest.author.name}}
      </a>
      <p class="typography.small">
        {{latest.date}}
      </p>
      <ArrowLink @href="{{latest.path}}">
        Read Post
      </ArrowLink>
    </article>
  </ShapeBlog>
  <div class="container o.after-21">
    <div class="main-block">
      <div class="main-block.content">
        <div class="main-block.content-item">
          {{#each rest}}
            <div class="main-block.content-row">
              <div class="main-block.content-col">
                <span class="typography.tag">
                  #
                  {{topic}}
                </span>
                <div class="blog-post.excerpt">
                  <h3>
                    <a href="{{path}}" data-internal>
                      {{title}}
                    </a>
                  </h3>
                  {{{excerpt}}}
                </div>
                <a href="/blog/author/{{author.twitter}}" data-internal>
                  {{author.name}}
                </a>
                <p class="typography.small">
                  {{date}}
                </p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="main-block.sidebar">
        <CardTalks />
        <CardUpcomingEvents />
      </div>
      <!--sidebar-->
    </div>
  </div>
  <Footer />
</div>