<div>
  <Header @active="blog" @title="Blog" />
  <ShapeBlog>
    <article>
      <span class="typography.tag">
        #
        {{latest.topic}}
      </span>
      <h2>
        <a href="{{latest.path}}" data-internal>
          {{latest.title}}
        </a>
      </h2>
      <div class="typography.lead offset.after-3">
        {{{latest.excerpt}}}
      </div>
      <a href="/blog/author/{{latest.author.twitter}}" data-internal>
        {{latest.author.name}}
      </a>
      <p class="typography.small">
        {{latest.date}}
      </p>
      <ArrowLink @href="{{latest.path}}">
        Read Post
      </ArrowLink>
    </article>
  </ShapeBlog>
  <section class="layout.main offset.after-21">
    {{#each rest}}
      <article class="offset.after-12">
        <span class="typography.tag">
          #
          {{topic}}
        </span>
        <div class="blog-post.excerpt">
          <h3>
            <a href="{{path}}" data-internal>
              {{title}}
            </a>
          </h3>
          {{{excerpt}}}
        </div>
        <a href="/blog/author/{{author.twitter}}" data-internal>
          {{author.name}}
        </a>
        <p class="typography.small">
          {{date}}
        </p>
      </article>
    {{/each}}
  </section>
  <aside class="layout.side offset.after-21">
    <CardTalks />
    <CardUpcomingEvents />
  </aside>
  <Footer />
</div>