<div>
  <HeadTag @name='meta' @keys=\{{hash property="og:image"}} @values=\{{hash content="{{siteUrl}}{{og.image}}"}} />

  <Header @title="Workshop" @active="resources" @documentTitle="{{title}} | Resources" @description="{{description}}">
    <HeaderContent @headline="{{title}}">
      <div typography:class="lead">
        {{{intro}}}
      </div>
    </HeaderContent>
  </Header>

  <div layout:class="content" offset:class="after-12">
    {{{preBody}}}
  </div>

  <div layout:class="full" offset:class="after-12">
    <Divider @text="Workshop overview" />
  </div>

  <div layout:class="content" offset:class="after-12">
    <ul workshop:class="list-topics" offset:class="after-5">
      {{#each topics}}
        <li workshop:class="list-topics-item">
          <img src="{{meta.image}}" workshop:class="topic-icon" alt="" />
          <h3 typography:class="h5" workshop:class="topic-title">
            {{meta.title}}
          </h3>
          {{{content}}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div layout:class="content" offset:class="after-12">
    {{{postBody}}}
  </div>

  <div layout:class="content" offset:class="after-5">
    <h3 typography:class="h3">
      Workshop leads
    </h3>
  </div>

  {{#each leads}}
    <div layout:scope workshop:class="lead" offset:class="after-5">
      <div workshop:class="lead-card">
        <img src="{{meta.image}}" alt="" workshop:class="lead-card-image" alt="" />
        <h4 typography:class="h4" workshop:class="lead-card-name">
          {{meta.name}}
        </h4>
        <p typography:class="h5" workshop:class="lead-card-title">
          {{meta.title}}
        </p>
        <div workshop:class="lead-card-bio">
          {{{bio}}}
        </div>
      </div>
    </div>
  {{/each}}

  {{#if cta}}
    {{{cta}}}
  {{/if}}

  <ShapeFeaturePlaybookMax />

  <Footer />
</div>