<div style={{this.shapeStyle}}>
  <svg
    class="bottom"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <path
        id={{this.shapeId}}
        d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
      ></path>
    </defs>
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  <svg
    class="top"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" transform="translate(0, -160)" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  <div class="container">
    <div class="content">
      <h1 class="typography.display title">
        {{@title}}
      </h1>
      {{yield}}
    </div>
  </div>
</div>