<figure>
  <svg class="shape" height="900" viewBox="0 0 1800 900" width="1800" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id={{this.clipId}}>
        <path
          d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
          fill-rule="evenodd"
        ></path>
      </clipPath>
    </defs>
    <g style="clip-path: url(#{{this.clipId}});">
      <rect x="0" y="0" width="100%" height="100%" style={{this.shapeStyle}}></rect>
    </g>
    {{#if @image}}
      <g style={{this.imageClipStyle}}>
        <image x="0" y="0" xlink:href="{{@image}}" width="100%" height="100%"></image>
      </g>
    {{/if}}
  </svg>
  <figcaption>
    <div class="floating">
      <svg class="shape" height="900" viewBox="0 0 1800 900" width="1800" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
          fill-rule="evenodd"
          class="floating-background"
        ></path>
      </svg>
      <div class="floating-content">
        <Link @arrow="true" @href={{@link}}>
          {{if @linkLabel @linkLabel 'Read Case Study'}}
        </Link>
      </div>
    </div>
    {{#if @logo}}
      <div class="logo">
        <img class="logo-img" src="{{@logo}}" alt="" />
      </div>
    {{/if}}
    {{yield}}
  </figcaption>
</figure>