<div>
  <div class="top"></div>
  <div class="container layout">
    <div class="content">
      <h3 class="typography.h2">
        Work with us
      </h3>
      <p class="typography.lead offset.after-12">
        Talk to one of our experts to find out how we can help you.
      </p>
      <a class="button" href="/contact/" data-internal>
        Let's discuss your project
      </a>
    </div>
    <div class="img-wrapper">
      <img
        class="img"
        srcset="/assets/images/photos/

          {{@teamMember}}

           @604.png 604w, /assets/images/photos/

          {{@teamMember}}

           @1208.png 1208w"
        sizes="(max-width: 887px) 604px, 1208px"
        alt="{{@teamMember}}"
        width={{@width}}
        height={{@height}}
      />
    </div>
  </div>
  <div class="bottom"></div>
</div>