<div>
  <div block:class="top"></div>
  <div block:class="container" layout:scope>
    <div block:class="content">
      <h3 typography:class="h2">
        Work with us
      </h3>
      <p typography:class="lead" offset:class="after-12">
        Talk to one of our experts to find out how we can help you.
      </p>
      <a button:scope href="/contact/" data-internal>
        Let's discuss your project
      </a>
    </div>
    <div block:class="img-wrapper">
      <img
        block:class="img"
        src="{{this.teamMemberPhoto}}"
        alt="{{this.capitalizedTeamMemberName}}"
        width={{@width}}
        height={{@height}}
        data-test-team-member={{this.teamMemberName}}
      />
    </div>
  </div>
  <div block:class="bottom"></div>
</div>