<div style={{this.shapeStyle}}>
  <div class="bottom" style="{{this.backgroundStyle}}">
    <div class="bottom-clip">
      <img src="{{@src}}" alt="" class="bottom-image" />
    </div>
    <svg class="bottom-svg" width="315" height="140" viewBox="0 0 314 140" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path
          id={{this.shapeId}}
          d="m84.0577137 0 86.2961153 49.8230855-23.196152 40.1769145h-51.2153907l-86.29611537-49.8230855 23.19615247-40.1769145z"
        ></path>
        <mask id="{{this.maskId}}">
          <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
          <use x="0" y="0" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
          <use x="134.5" y="49.5" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
        </mask>
      </defs>
      <rect x="0" y="0" width="100%" height="100%" mask="url(#{{this.maskId}})"></rect>
    </svg>
  </div>
  <svg
    class="leading-svg"
    width="180"
    height="90"
    viewBox="0 0 180 90"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  <svg
    class="trailing-svg"
    width="180"
    height="90"
    viewBox="0 0 180 90"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
</div>
{{yield}}