<div style={{this.shapeStyle}}>
  <div class="shapes">
    <div class="bottom" style="{{this.backgroundStyle}}">
      <div class="bottom-clip">
        <img srcset={{@srcset}} sizes={{@sizes}} alt="" class="bottom-image" />
      </div>
      <svg class="bottom-svg" width="362" height="124" viewBox="0 0 362 124" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <path d="M55.4423 0H180v57.9904L124.5577 90H0V32.0096L55.4423 0z" id="{{this.shapeId}}"></path>
          <mask id="{{this.maskId}}">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <use x="31" y="33" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
            <use x="210.8" y="1" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
          </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="white" mask="url(#{{this.maskId}})"></rect>
      </svg>
    </div>
    <svg
      class="leading-svg"
      width="180"
      height="90"
      viewBox="0 0 180 90"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    <svg
      class="trailing-svg"
      width="180"
      height="90"
      viewBox="0 0 180 90"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
  </div>
</div>
{{yield}}