<div style={{this.shapeStyle}}>
  <div class="shapes">
    <div class="bottom" style="{{this.backgroundStyle}}">
      <div class="bottom-clip">
        <img src="{{@src}}" alt="" class="bottom-image" />
      </div>
      <svg class="bottom-svg" width="3620" height="1240" viewBox="0 0 3620 1240" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <path d="M554.423 0H1800v579.904L1245.577 900H0V320.096L554.423 0z" id="{{this.shapeId}}"></path>
          <mask id="{{this.maskId}}">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <use x="310" y="330" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
            <use x="2108" y="10" fill-rule="evenodd" xlink:href="#{{this.shapeId}}" fill="black"></use>
          </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="white" mask="url(#{{this.maskId}})"></rect>
      </svg>
    </div>
    <svg
      class="leading-svg"
      width="1800"
      height="900"
      viewBox="0 0 1800 900"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    <svg
      class="trailing-svg"
      width="1800"
      height="900"
      viewBox="0 0 1800 900"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
  </div>
</div>
{{yield}}