<div>
  <div class="contents">
    <div class="container">
      <Navigation />
      <div class="header-block">
        <p class="typography.body-text">
          {{date}}
        </p>
        <h1 class="typography.display">
          {{title}}
        </h1>
        {{{excerpt}}}
      </div>
    </div>
    <div class="container">
      <div class="main-block">
        <div class="main-block.content">
          <div class="main-block.content-item">
            <div class="main-block.content-section">
              <div class="main-block.content-section-item">
                {{{body}}}
              </div>
            </div>
            <!--section-->
          </div>
        </div>
        <div class="main-block.sidebar">
          <p class="typography.small-text">
            About the Author
          </p>
          <div class="card">
            <div class="card.image">
              <img class="fluid-image.image-cover" src="/assets/images/authors/{{author.twitter}}.jpg" />
            </div>
            <h3 class="card.sub-heading">
              {{author.name}}
            </h3>
            <p class="card.text">
              {{author.bio}}
            </p>
            <a class="typography.link" href="https://twitter.com/{{author.twitter}}">
              @
              {{author.twitter}}
            </a>
          </div>
          <p class="typography.small-text">
            About Simplabs
          </p>
          <div class="card">
            <img class="logo" src="/assets/images/neu.svg" />
            <p class="card.text">
              simplabs is a Web Engineering Consultancy based in Munich, Germany. We work for clients all over the world, offering Software Engineering, Technology Consulting as well as Individual and Group Training with modern Web Technologies. We specialize in a set of conventions-based tools like Ember.js, Elixir and, Phoenix as well as Ruby on Rails and like to move fast without breaking things.
            </p>
            <a class="typography.arrow-link" href="/about">
              Learn more about Simplabs
            </a>
          </div>
        </div>
        <!--sidebar-->
      </div>
    </div>
    <div class="container">
      {{#if related}}
        <div class="shape.wrap">
          <div class="shape-left">
            <div class="shape-left.background background">
              {{#if related.teaserImage}}
                <div class="shape-left.content">
                  <div class="shape.content-image">
                    <img class="fluid-image.image" src="{{related.teaserImage}}" />
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="shape.caption">
            <div class="shape.caption-content">
              <p class="typography.small-text">
                Keep Reading
              </p>
              <h3 class="typography.sub-heading">
                {{related.title}}
              </h3>
              <a class="typography.arrow-link" href="{{related.link}}">
                Read Post
              </a>
            </div>
          </div>
          <div class="shape-decoration">
            <div class="shape-decoration.background background"></div>
          </div>
        </div>
      {{/if}}
    </div>
    <!--container-->
    <div class="container">
      <WorkWithUs />
    </div>
    <div class="container">
      <Footer />
    </div>
  </div>
</div>