<div>
  <Header @label="{{date}}" @title="{{title}}" @excerpt="{{excerpt}}" @has-badge="true" @no-wrap="true">
    
    <div class="blog-post.badge">
      <div class="blog-post.badge-image">
        <img class="fluid-image.image" src="/assets/images/authors/{{author.twitter}}.jpg">
      </div>
      <div class="blog-post.badge-content">
        <a class="typography.link" href="/blog/author/{{author.twitter}}" data-internal>
          {{author.name}}
        </a>
        <p>
          {{author.bio}}
        </p>
        <a href="https://twitter.com/{{author.twitter}}" class="typography.link" target="_blank">
          @{{author.twitter}}
        </a>
      </div>
    </div>
    
  </Header>
  <div class="container">
    <div class="main-block">
      <div class="sidebar-post">
       
      </div>
      <div class="content-post">
        <div class="main-block.content-item">
          <div class="main-block.content-section">
            <div class="main-block.content-section-item">
              {{{body}}}
            </div>
          </div>
          <!--section-->
        </div>
      </div>
      
    </div>
  </div>
  {{#if related}}
    <ShapeFeature @color="{{related.teaserBackground}}" @background="{{related.teaserBackground}}" @backgroundImage="{{related.teaserImage}}">
      <p class="typography.small-text">
        Continue Reading
      </p>
      <h3 class="typography.headline-2">
        {{related.title}}
      </h3>
      <ArrowLink @href="{{related.link}}">
        Read Post
      </ArrowLink>
    </ShapeFeature>
  {{/if}}
  <WorkWithUs />
  <Footer />
</div>