<div style={{this.shapeStyle}} state:reverse={{@reverse}}>
  <div class="shape-a">
    <svg
      class="shape-a-svg"
      width="180"
      height="90"
      viewBox="0 0 180 90"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs>
        <path
          id={{this.shapeId}}
          d="m84.0577137 0 86.2961153 49.8230855-23.196152 40.1769145h-51.2153907l-86.29611537-49.8230855 23.19615247-40.1769145z"
        ></path>
      </defs>
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    {{#if @src}}
      <figure class="shape-a-figure">
        <img class="shape-a-img" src="{{@src}}" alt="" />
      </figure>
    {{/if}}
  </div>
  <div class="shape-b">
    <svg
      class="shape-b-svg"
      width="180"
      height="90"
      viewBox="0 0 180 90"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    {{#if @logo}}
      <div class="shape-b-content">
        <div class="shape-b-logo">
          <img class="shape-b-logo-img" src="{{@logo}}" alt="{{@logoAlt}}" />
        </div>
        {{#if @logoLabel}}
          <p>
            {{@logoLabel}}
          </p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>