<div style={{this.shapeStyle}} block:reverse={{@reverse}}>
  <div block:class="shape-a">
    <svg
      block:class="shape-a-svg"
      width="1800"
      height="900"
      viewBox="0 0 1800 900"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs>
        <path
          id={{this.shapeId}}
          d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
        ></path>
      </defs>
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    {{#if @srcset}}
      <figure block:class="shape-a-figure">
        <img block:class="shape-a-img" srcset={{@srcset}} sizes={{@sizes}} alt="" />
      </figure>
    {{/if}}
  </div>
  <div block:class="shape-b">
    <svg
      block:class="shape-b-svg"
      width="1800"
      height="900"
      viewBox="0 0 1800 900"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    {{#if @logo}}
      <div block:class="shape-b-content">
        <div block:class="shape-b-logo">
          <img block:class="shape-b-logo-img" src="{{@logo}}" alt="{{@logoAlt}}" />
        </div>
        {{#if @logoLabel}}
          <p>
            {{@logoLabel}}
          </p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>