<div>
  <Header @title="Resources" @active="resources" @description="In our resource hub for innovators and entrepreneurs we share real-world techniques to help teams tapping into their full potential.">
    <div header-content:scope block:class="video-header">
      <video
        playsinline
        autoplay
        muted
        preload
        loop
        poster="/assets/images/resources/header-video.poster.jpg"
        block:class="video"
        data-header-background
      >
        <source src="/assets/images/resources/header-video.mp4" type="video/mp4" />
      </video>
      <div block:class="header-content">
        <h1 block:class="h1">
          Built to last
        </h1>
        <h2 block:class="h2">
          A resource hub for innovators and entrepreneurs
        </h2>
      </div>
    </div>
  </Header>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Process tips from simplabs
    </h2>
    <p typography:class="lead">
      Learn real-world process improvements to help your team tap into it's full potential, and set up the infrastructure and practices that are the foundation for sustainable development.
    </p>
  </div>

  <div layout:class="full" offset:class="after-16" media-card:class="list">
    <div media-card:class="double">
      <MediaCard
        @label="Masterclass with Marco Otte-Witte"
        @title="The three pillars of effective digital product development"
        @image="/assets/images/resources/marco.jpg"
        @duration="28:36"
        @isVideoLink="true"
        @link="/resources/video/2020/12/10/the-three-pillars-of-successful-digital-product-development/"
      >
        Marco Otte-Witte shares best practices for digital product development in the areas of planning and preparation, process and collaboration, as well as infrastructure and practices.
      </MediaCard>
    </div>
    <div media-card:class="double-single">
      <MediaCard
        @label="Blog post"
        @title="The guide to making remote work work"
        @image="/assets/images/posts/2020-11-16-the-guide-to-making-remote-work-work/illustration.svg"
        @link="/blog/2020/11/16/the-guide-to-making-remote-work-work/"
      >
        Remote work is here to stay. In this guide we share techniques to make it efficient and enjoyable for everyone.
      </MediaCard>
    </div>
  </div>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Founder insights
    </h2>
    <p typography:class="lead">
      Our interview series goes behind-the-scenes into what a successful process looks like from a founder’s perspective.
    </p>
  </div>

  <div layout:class="full" offset:class="after-12" media-card:class="list">
    {{#each founderVideos}}
      <div media-card:class="single">
        <MediaCard
          @label="{{label}}"
          @title="{{title}}"
          @image="{{image}}"
          @duration="{{duration}}"
          @isVideoLink="true"
          @link="{{path}}"
        >
          {{teaser}}
        </MediaCard>
      </div>
    {{/each}}
  </div>

  <div layout:class="full" offset:class="after-21">
    <CallToAction
      @title="Are you a startup founder? Get in touch!"
      @text="Would you like to share product development insights with our community? We would love to hear from you."
      @label="Join the built to last interview series"
    >
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqUUG0-9BrLTUKomEbTbLef3H00iq8oUWmwR_dqeaqV7Ny6Q/viewform" target="_blank" button:scope>
        Become a guest
      </a>
    </CallToAction>
  </div>

  <ShapeFeaturePlaybookMax />

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2">
      Workshops
    </h2>
    <p typography:class="lead">
      Designed to help teams build sustainable products that work well and keep working well.
    </p>
  </div>

  <div layout:scope block:class="workshops">
    <div block:class="workshop-col-lead">
      {{#each workshopsLead}}
        <div block:class="workshop-card">
          <WorkshopCard
            @leads="{{leads}}"
            @label="{{label}}"
            @title="{{title}}"
            @description="{{description}}"
            @tag="{{tag}}"
            @path="{{path}}"
          />
        </div>
      {{/each}}
    </div>
    <div block:class="workshop-col-trail">
      {{#each workshopsTrail}}
        <div block:class="workshop-card">
          <WorkshopCard
            @leads="{{leads}}"
            @label="{{label}}"
            @title="{{title}}"
            @description="{{description}}"
            @tag="{{tag}}"
            @path="{{path}}"
          />
        </div>
      {{/each}}
    </div>
  </div>

  <div layout:class="full" offset:class="after-12">
    <h2 typography:class="h2" block:class="blog-posts-title">
      Top Picks from our blog
    </h2>
  </div>

  <div layout:class="full" offset:class="after-21" media-card:class="list">
    <div media-card:class="single">
      <MediaCard
        @label="by Arthur Poot"
        @title="The state of PWA support on mobile and desktop in 2020"
        @image="/assets/images/resources/pwa-logo.png"
        @shallow="shallow"
        @link="/blog/2020/06/10/the-state-of-pwa-support-on-mobile-and-desktop-in-2020/"
      >
        Progressive Web Apps have evolved rapidly over the past few years and are now supported better than ever. This infographic gives an overview of which features are supported on what platforms.
      </MediaCard>
    </div>
    <div media-card:class="single">
      <MediaCard
        @label="by Marco Otte-Witte"
        @title="Failing (and winning) at planning software projects"
        @image="/assets/images/posts/2020-06-17-failing-and-winning-at-planning-software-projects/illustration@1000.png"
        @shallow="shallow"
        @link="/blog/2020/06/17/failing-and-winning-at-planning-software-projects/"
      >
        Scoping and planning software projects of any kind is a challenging task that many teams struggle with. Marco Otte-Witte presents techniques for increasing predictability and reducing frustration.
      </MediaCard>
    </div>
    <div media-card:class="single">
      <MediaCard
        @label="by Florian Pichler"
        @title="Building prototypes with Ember.js"
        @image="/assets/images/posts/2020-12-15-building-prototypes-with-emberjs-and-ember-hotspots/illustration.svg"
        @shallow="shallow"
        @link="/blog/2020/12/15/building-prototypes-with-emberjs-and-ember-hotspots/"
      >
        In this post, Florian Pichler shows how modern web development tooling allows building prototypes with the same technology that's also being used for building real apps.
      </MediaCard>
    </div>
  </div>

  <Footer />
</div>