<div>
  <div block:class="info">
    {{#each this.leads key="id" as |leadImage|}}
      <img src="{{leadImage}}" block:class="image" width="100" height="100" />
    {{/each}}
    <p typography:class="small" block:class="label">
      {{#each this.labelLines key="id" as |line|}}
        <span block:class="label-line">
          {{line}}
        </span>
      {{/each}}
    </p>
  </div>
  <div block:class="content">
    <img src="{{@tag}}" block:class="tag" width="100" height="100" />
    <h3 typography:class="h4" block:class="title">
      {{@title}}
    </h3>
    <p typography:class="p" block:class="p">
      {{@description}}
    </p>
    <ArrowLink @href={{@path}} @lead={{false}} @leftAlign={{true}}>
      See workshop
    </ArrowLink>
  </div>
</div>