<div>
  <div block:class="info">
    {{#each this.leads key="id" as |leadImage|}}
      <img src="{{leadImage}}" block:class="image" />
    {{/each}}
    <p typography:class="small" block:class="label">
      {{@label}}
    </p>
  </div>
  <div block:class="content">
    <img src="{{@tag}}" block:class="tag" />
    <h3 typography:class="h3" block:class="title">
      {{@title}}
    </h3>
    <p typography:class="p" block:class="p">
      {{@description}}
    </p>
    <ArrowLink @href={{@path}} @lead={{false}} @leftAlign={{true}}>
      Learn more
    </ArrowLink>
  </div>
</div>