<div>
  <Header @active="blog" @flex-content="true" @title="Posts by {{name}}" @documentTitle="Posts by {{name}} | Blog">
    <div class="blog-post.badge">
      <div class="blog-post.badge-image">
        <img class="fluid-image.image" src="/assets/images/authors/{{twitter}}.jpg" alt="photo of {{name}}" />
      </div>
      <div class="blog-post.badge-content">
        <a href="/blog/author/{{twitter}}" data-internal>
          {{name}}
        </a>
        <p>
          {{bio}}
        </p>
        <a href="https://twitter.com/{{author.twitter}}" target="_blank" rel="noopener">
          @
          {{twitter}}
        </a>
      </div>
    </div>
    <div>
      <p class="typography.small">
        Blog
      </p>
      <h1 class="typography.display">
        Posts by
        {{name}}
      </h1>
      {{{excerpt}}}
    </div>
  </Header>
  <div class="layout.main offset.after-21">
    {{#each posts}}
      <article>
        <span class="typography.tag">
          #
          {{topic}}
        </span>
        <div class="blog-post.excerpt">
          <h3>
            <a href="{{path}}" data-internal>
              {{title}}
            </a>
          </h3>
          {{{excerpt}}}
          <a href="/blog/author/{{author.twitter}}" data-internal>
            {{author.name}}
          </a>
          <p class="typography.small">
            {{date}}
          </p>
        </div>
      </article>
    {{/each}}
  </div>
  <WorkWithUs />
  <Footer />
</div>