<div>
  <LazyPreloadTrigger @bundle="blog" />
  <Header
    @active="blog"
    @title="Posts by {{name}}" @documentTitle="Posts by {{name}} | Blog"
    @description="Our team shares what they learn in our blog, covering topics around tech, design/UX and the engineering process. Find all posts by {{name}} here."
  >
    <div blog-post:class="header">
      <div blog-post:class="headline">
        <h1 typography:class="display">
          <small typography:class="small">
            Blog<span typography:class="hidden">:</span>
          </small>
          Posts by {{name}}
        </h1>
      </div>
      <div blog-post:class="badge">
        <div blog-post:class="badge-image">
          <img fluid-image:class="image" src="/assets/images/authors/{{twitter}}.jpg" alt="" />
        </div>
        <div blog-post:class="badge-content">
          <a href="/blog/author/{{twitter}}/" data-internal>
            {{name}}
          </a>
          <p>
            {{bio}}
          </p>
          <a href="https://twitter.com/{{author.twitter}}" target="_blank" rel="noopener">
            @{{twitter}}
          </a>
        </div>
      </div>
    </div>
  </Header>
  <div blog-author:class="main" offset:class="after-21">
    {{#each posts}}
      <article offset:class="after-16">
        <span typography:class="tag">
          #{{topic}}
        </span>
        <div blog-post:class="excerpt">
          <h3>
            <a href="{{path}}" data-internal>
              {{title}}
            </a>
          </h3>
          {{{excerpt}}}
        </div>
        <footer>
          <a href="/blog/author/{{author.twitter}}/" data-internal>
            {{author.name}}
          </a>
          <p typography:class="small">
            {{date}}
          </p>
        </footer>
      </article>
    {{/each}}
  </div>
  <WorkWithUs />
  <Footer />
</div>