<div>
  <LazyPreloadTrigger @bundle="blog" />
  <HeadTag @name='meta' @keys=\{{hash property="article:published_time"}} @values=\{{hash content="{{isoDate}}"}} />
  <HeadTag @name='meta' @keys=\{{hash property="article:section"}} @values=\{{hash content="{{topic}}"}} />
  <HeadTag @name='meta' @keys=\{{hash name="twitter:creator"}} @values=\{{hash content="{{author.twitter}}"}} />
  <HeadTag @name='meta' @keys=\{{hash property="og:image"}} @values=\{{hash content="{{siteUrl}}{{og.image}}"}} />
  <script type="application/ld+json">
    {
      "@type": "BlogPosting",
      "headline": "{{title}}",
      "image": {
        "@type": "ImageObject",
        "url": "{{siteUrl}}/assets/images/logos/simplabs.png"
      },
      "author": {
        "@type": "Person",
        "name": "{{author.name}}",
        "jobTitle": "{{author.bio}}",
        "image": {
          "@type": "ImageObject",
          "url": "{{siteUrl}}/assets/images/authors/{{author.twitter}}.jpg"
        }
      },
      "genre": "{{topic}}",
      "publisher": {
        "@type": "Organization",
        "name": "simplabs",
        "url": "{{siteUrl}}",
        "legalName": "Mainmatter GmbH",
        "logo": {
          "@type": "ImageObject",
          "url": "{{siteUrl}}/assets/images/logos/simplabs.png"
        }
      },
      "copyrightHolder": {
        "@type": "Organization",
        "name": "simplabs",
        "url": "{{siteUrl}}",
        "legalName": "Mainmatter GmbH",
        "logo": {
          "@type": "ImageObject",
          "url": "{{siteUrl}}/assets/images/logos/simplabs.png"
        }
      },
      "copyrightYear": {{year}},
      "datePublished": "{{isoDate}}",
      "dateModified": "{{isoDate}}",
      "mainEntityOfPage": "{{siteUrl}}/blog/",
      "url": "{{siteUrl}}{{path}}",
      "@context": "http://schema.org"
    }
  </script>
  <Header @active="blog" @title="{{title}}" @documentTitle="{{title}} | Blog" @pageType="article" @description="{{description}}">
    <div blog-post:class="header">
      <div blog-post:class="headline">
        <h1 typography:class="display">
          <small typography:class="small">
            Blog<span typography:class="hidden">:</span>
          </small>
          {{title}}
        </h1>
      </div>
      <div blog-post:class="badge">
        <div blog-post:class="badge-image">
          <img
            fluid-image:class="image"
            src="/assets/images/authors/{{author.twitter}}.jpg"
            alt=""
          />
        </div>
        <div blog-post:class="badge-content">
          <a href="/blog/author/{{author.twitter}}/" data-internal>
            {{author.name}}
          </a>
          <p>
            {{author.bio}}
          </p>
          <a href="https://twitter.com/{{author.twitter}}" target="_blank" rel="noopener">
            @{{author.twitter}}
          </a>
        </div>
      </div>
      <div block:class="excerpt" typography:class="lead">
        {{{excerpt}}}
      </div>
    </div>
  </Header>
  <div layout:class="content" offset:class="after-21">
    {{{body}}}
  </div>
  {{#if related}}
    <ShapeFeature>
      <ShapeFeatureContent>
        <p typography:class="small">
          Continue Reading
        </p>
        <h3>
          {{related.title}}
        </h3>
        <ArrowLink @href="{{related.path}}">
          Read Post
        </ArrowLink>
      </ShapeFeatureContent>
    </ShapeFeature>
  {{/if}}
  <WorkWithUs @teamMember="jessica" />
  <Footer />
</div>