<div>
  <Header @flex-content="true">
    <div class="blog-post.badge">
      <div class="blog-post.badge-image">
        <img
          class="fluid-image.image"
          src="/assets/images/authors/{{author.twitter}}.jpg"
          alt="photo of {{author.name}}"
         />

      </div>
      <div class="blog-post.badge-content">
        <a href="/blog/author/{{author.twitter}}" data-internal>
          {{author.name}}
        </a>
        <p>
          {{author.bio}}
        </p>
        <a href="https://twitter.com/{{author.twitter}}" target="_blank" rel="noopener">
          @
          {{author.twitter}}
        </a>
      </div>
    </div>
    <div>
      <p class="typography.small">
        Blog
      </p>
      <h1 class="typography.display">
        {{title}}
      </h1>
      {{{excerpt}}}
    </div>
  </Header>
  <div class="container o.after-21">
    <div class="main-block">
      <div class="content-post">
        <div class="main-block.content-item">
          <div class="main-block.content-row">
            <div class="main-block.content-col">
              {{{body}}}
            </div>
          </div>
          <!--section-->
        </div>
      </div>
    </div>
  </div>
  {{#if related}}
    <ShapeFeature
      @color="{{related.teaserBackground}}"
      @background="{{related.teaserBackground}}"
      @backgroundImage="{{related.teaserImage}}"
    >
      <p class="typography.small">
        Continue Reading
      </p>
      <h3>
        {{related.title}}
      </h3>
      <ArrowLink @href="{{related.path}}">
        Read Post
      </ArrowLink>
    </ShapeFeature>
  {{/if}}
  <WorkWithUs />
  <Footer />
</div>