<div block:attachment={{@attachment}}>
  <div block:class="container">
    <div block:class="content">
      {{#if @headline}}
        <h1 typography:class="display">
          {{#if @label}}
            <small typography:class="small">
              {{@label}}
              <span typography:class="hidden">
                :
              </span>
            </small>
          {{/if}}
          {{@headline}}
        </h1>
      {{/if}}
      {{yield}}
    </div>
    {{#if @attachment}}
      <div block:class="sidebar">
        <div block:class="image-wrapper">
          {{@image}}
        </div>
        {{#if (eq @attachment "blue-ribbon")}}
          <div block:class="background">
            <div block:class="top"></div>
            <div block:class="middle"></div>
            <div block:class="bottom"></div>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>