<div>
  <div block:class="container">
    <div block:class="content" block:with-image={{@image}}>
      {{#if @headline}}
        <h1 typography:class="display">
          {{#if @label}}
            <small typography:class="small">
              {{@label}}
              <span typography:class="hidden">
                :
              </span>
            </small>
          {{/if}}
          {{@headline}}
        </h1>
      {{/if}}
      {{yield}}
    </div>
    {{#if @attachment}}
      <div block:class="sidebar">
        {{#if (eq @attachment "blue-ribbon")}}
          <div block:class="image-wrapper" block:attachment={{@attachment}}>
            {{@image}}
          </div>
          <div block:class="background">
            <div block:class="top"></div>
            <div block:class="middle"></div>
            <div block:class="bottom"></div>
          </div>
        {{/if}}
        {{#if (eq @attachment "image")}}
          <div block:class="image-wrapper" block:attachment={{@attachment}}>
            {{@image}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>