<div>
  <div block:class="container">
    <div block:class="content" block:with-image={{@image}}>
      {{#if @headline}}
        <h1 typography:class="display">
          {{#if @label}}
            <small typography:class="small">
              {{@label}}
              <span typography:class="hidden">
                :
              </span>
            </small>
          {{/if}}
          {{@headline}}
        </h1>
      {{/if}}
      {{yield}}
    </div>
    {{#if @image}}
      <div block:class="sidebar">
        <div block:class="image-wrapper">
          {{@image}}
        </div>
        <div block:class="background">
          <div block:class="top"></div>
          <div block:class="middle"></div>
          <div block:class="bottom"></div>
        </div>
      </div>
    {{/if}}
  </div>
</div>