<form onsubmit={{action this.submit}} block:form={{this.formState}} disabled={{this.isSubmitting}}>
  {{#if this.isSuccess}}
    <h3 typography:class="h4">
      Thank you for getting in touch!
    </h3>
    <p>
      One of our experts will get back to you shortly.
    </p>
    <p>
      In the meantime, have a look at our
      <a href="/playbook/" data-internal>
        playbook
      </a>
      to learn more about how we build ambitious digital products or read about the
      <a href="/work/" data-internal>
        other companies we helped in the past.
      </a>
    </p>
    <p>
      <button type="submit" button:scope>
        Send another message
      </button>
    </p>
  {{else}}
    <fieldset block:class="fieldset">
      <legend block:class="legend">
        Contact
      </legend>
      <svg block:class="spinner" width="58" height="58" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 2)" stroke-width="3" fill="none" fill-rule="evenodd">
          <circle stroke="#B3D9FF" cx="27" cy="27" r="27"></circle>
          <path d="M54 27C54 12.09 41.91 0 27 0" stroke="#007DF6"></path>
        </g>
      </svg>
      <p block:class="item">
        <label for="name" block:class="label">
          Name
        </label>
        <input block:class="control" id="name" type="text" autocomplete="name" disabled={{this.isSubmitting}} />
      </p>
      <p block:class="item">
        <label for="email" block:class="label">
          E-Mail
        </label>
        <input
          block:class="control"
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          disabled={{this.isSubmitting}}
          required
        />
      </p>
      <p block:class="item">
        <label for="message" block:class="label">
          Tell us about your project
        </label>
        <textarea block:class="control" id="message" cols="30" rows="6" disabled={{this.isSubmitting}}></textarea>
      </p>
    </fieldset>
    {{#if this.isErrored}}
      <div block:class="error">
        Unable to send message. Please try again or contact us at
        <a href="mailto:info@simplabs.com">
          info@simplabs.com
        </a>
        .
      </div>
    {{/if}}
    <p>
      <button type="submit" button:scope>
        {{#if this.isSubmitting}}
          Sending…
        {{else}}
          Send message
        {{/if}}
      </button>
    </p>
  {{/if}}
</form>