<p block:reverse="{{@reverse}}" block:leftAlign="{{@leftAlign}}" block:lead="{{this.isLead}}">
  <a block:class="link" href={{@href}} target={{this.target}} data-internal={{this.isInternal}} rel={{this.rel}}>
    {{yield}}
    <svg height="40" viewBox="0 0 40 40" width="40" xmlns="http://www.w3.org/2000/svg" block:class="svg">
      <path
        d="m36.4291981 23-4.1049227-3.7628459 1.3514492-1.4743082 6.8041682 6.2371541-6.8041682 6.2371541-1.3514492-1.4743082 4.1049227-3.7628459h-34.4291981v-2z"
        block:class="arrow"
      ></path>
    </svg>
  </a>
</p>