<div block:reverse={{@reverse}} block:center={{@center}}>
  {{#if @logo}}
    <div block:class="logo">
      <img block:class="logo-img" src="{{@logo}}" alt="{{@logoAlt}}" />
    </div>
  {{/if}}
  {{#if @title}}
    <div block:class="container">
      <header block:class="header">
        <h2>
          {{@title}}
        </h2>
      </header>
      <div block:class="content">
        {{yield}}
      </div>
    </div>
  {{/if}}
  <svg
    block:class="bottom"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <path
        id="{{this.shapeId}}"
        d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
      ></path>
      <clipPath id="{{this.maskId}}">
        <use fill-rule="evenodd" xlink:href="#{{shapeId}}"></use>
      </clipPath>
    </defs>
    <g style="clip-path: url(#{{this.maskId}}); {{this.backgroundStyle}}">
      <rect block:class="bg" x="0" y="0" width="100%" height="100%"></rect>
    </g>
    {{#if @src}}
      {{#if @clip}}
        <g style="clip-path: url(#{{this.maskId}});">
          <image
            x="{{if @center "505" (if @reverse "98" "500")}}"
            y="0"
            xlink:href="{{@src}}"
            width="1200"
            height="900"
            preserveAspectRatio="xMinYMid meet"
          />
        </g>
      {{else}}
        <image
          x="{{if @center "505" (if @reverse "98" "500")}}"
          y="0"
          xlink:href="{{@src}}"
          width="1200"
          height="900"
          preserveAspectRatio="xMinYMid meet"
        />
      {{/if}}
    {{/if}}
  </svg>
  <svg
    block:class="top"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="{{this.shapeStyle}}"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  {{#if @center}}
    <div block:class="container">
      <div block:class="content">
        {{yield}}
      </div>
    </div>
  {{/if}}
  {{#if @tagline}}
    <div block:class="tagline-container">
      <div block:class="tagline">
        {{#if @logo}}
          <div block:class="tagline-logo">
            <img block:class="tagline-logo-image" src="{{@logo}}" alt="{{@logoAlt}}" />
          </div>
        {{/if}}
        <p block:class="tagline-text">
          {{@tagline}}
        </p>
      </div>
    </div>
  {{/if}}
</div>