<ul>
  {{#each posts}}
    <li block:class="post">
      <h4 block:class="title">
        <a href="{{path}}" link:scope data-internal>
          {{title}}
        </a>
      </h4>
      <div block:class="media">
        <img block:class="image" src="/assets/images/authors/{{author.twitter}}.jpg" alt="" />
        <p>
          <span block:class="author">
            {{author.name}}
          </span>
          <span block:class="date">
            {{date}}
          </span>
        </p>
      </div>
      <ArrowLink @href="{{path}}">
        Read Post
      </ArrowLink>
    </li>
  {{/each}}
</ul>