<div state:hasImage={{@src}}>
  <div class="top"></div>
  <div class="middle">
    <figure class="container layout">
      {{#if @srcset}}
        <div class="img-wrapper">
          <img class="img" srcset={{@srcset}} sizes={{@sizes}} alt="{{@srcAlt}}" width={{@width}} height={{@height}} />
        </div>
      {{/if}}
      <figcaption class="content">
        {{yield}}
      </figcaption>
    </figure>
  </div>
  <div class="bottom"></div>
</div>