<div>
  <div block:class="top"></div>
  <div block:class="middle">
    <ShapeFeatureContent
      @srcset={{@srcset}}
      @sizes={{@sizes}}
      @srcAlt={{@srcAlt}}
      @width={{@width}}
      @height={{@height}}
    >
      {{yield}}
    </ShapeFeatureContent>
  </div>
  <div block:class="bottom"></div>
</div>