<div style={{this.shapeStyle}}>
  <div class="bottom">
    <svg
      class="bottom-svg"
      width="1880"
      height="980"
      viewBox="0 0 180 90"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style={{this.backgroundStyle}}
    >
      <defs>
        <path
          id={{this.shapeId}}
          d="m84.0577137 0 86.2961153 49.8230855-23.196152 40.1769145h-51.2153907l-86.29611537-49.8230855 23.19615247-40.1769145z"
        ></path>
      </defs>
      <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
    </svg>
    {{#if @src}}
      <img class="img" src={{@src}} alt="{{@srcAlt}}" width={{@width}} height={{@height}} />
    {{/if}}
  </div>
  <svg
    class="top"
    width="1800"
    height="900"
    viewBox="0 0 180 90"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>

  <div class="content">
    {{yield}}
  </div>
</div>