<div block:hasImage={{@src}}>
  <div block:class="top"></div>
  <div block:class="middle">
    <figure block:class="container" layout:scope>
      {{#if @srcset}}
        <div block:class="img-wrapper">
          <img block:class="img" srcset={{@srcset}} sizes={{@sizes}} alt="{{@srcAlt}}" width={{@width}} height={{@height}} />
        </div>
      {{/if}}
      <figcaption block:class="content">
        {{yield}}
      </figcaption>
    </figure>
  </div>
  <div block:class="bottom"></div>
</div>