<div style={{this.shapeStyle}} state:hasVideo={{@video}} state:hasImage={{@src}}>
  <div class="bottom">
    <div class="bottom-content" style="{{this.backgroundStyle}}">
      {{#if @image}}
        <div class="bottom-image" style="{{this.bottomImageStyle}}"></div>
      {{/if}}
      {{#if @video}}
        <video playsinline autoplay muted loop class="video" width="{{@width}}" height="{{@height}}">
          <source src="{{@video}}" type="video/mp4" />
        </video>
      {{/if}}
    </div>
    <svg
      class="bottom-svg"
      width="1880"
      height="980"
      viewBox="0 0 1820 920"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <defs>
        <path
          id={{this.shapeId}}
          d="m840.577137 0 862.961153 498.230855-231.96152 401.769145h-512.153907l-862.9611537-498.230855 231.9615247-401.769145z"
          transform="rotate(-30 719.885 360.48)"
        ></path>
        <mask id={{this.maskId}}>
          <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
          <use x="10" y="10" xlink:href="#{{this.shapeId}}" fill="black"></use>
        </mask>
      </defs>
      <rect fill="#fff" x="0" y="0" width="100%" height="100%" mask="url(#{{this.maskId}})"></rect>
    </svg>
  </div>
  <svg
    class="top"
    width="1800"
    height="900"
    viewBox="0 0 1800 900"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <use fill-rule="evenodd" xlink:href="#{{this.shapeId}}"></use>
  </svg>
  <figure class="container">
    {{#if @src}}
      <div class="img-wrapper">
        <img class="img" src={{@src}} alt="{{@srcAlt}}" width={{@width}} height={{@height}} />
      </div>
    {{/if}}
    <figcaption class="content">
      {{yield}}
    </figcaption>
  </figure>
</div>