<div>
  <LazyPreloadTrigger @bundle="blog" />
  <HeadTag @name='meta' @keys=\{{hash property="og:image"}} @values=\{{hash content="{{siteUrl}}/assets/images/blog/ogimage.png"}} />
  <script type="application/ld+json">
    {
    "@type": "Blog",
    "name": "simplabs Blog",
    "url": "{{siteUrl}}/blog/",
    "publisher": {
      "@type": "Organization",
      "name": "simplabs",
      "url": "{{siteUrl}}",
      "legalName": "Mainmatter GmbH",
      "logo": {
        "@type": "ImageObject",
        "url": "{{siteUrl}}/assets/images/logos/simplabs.png"
      }
    },
    "copyrightHolder": {
      "@type": "Organization",
      "name": "simplabs",
      "url": "{{siteUrl}}",
      "legalName": "Mainmatter GmbH",
      "logo": {
        "@type": "ImageObject",
        "url": "{{siteUrl}}/assets/images/logos/simplabs.png"
      }
    },
    "copyrightYear": 2013,
    "@context": "http://schema.org"
  }
  </script>
  <Header
    @active="blog"
    @title="Blog"
    @documentTitle="Product & Engineering Blog"
    @description="The latest insights on product strategy, design and development. Read in-depth articles on the web technologies we master: Ember.js, Elixir/Phoenix, and JavaScript."
  >
    <HeaderContent @headline="Blog" />
  </Header>
  {{#if latest}}
    <ShapeBlog>
      <article>
        <span typography:class="tag">
          #{{latest.topic}}
        </span>
        <h2 offset:class="before-none">
          <a href="{{latest.path}}" data-internal>
            {{latest.title}}
          </a>
        </h2>
        <div typography:class="lead" offset:class="after-3">
          {{{latest.excerpt}}}
        </div>
        <a href="/blog/author/{{latest.author.twitter}}/" data-internal>
          {{latest.author.name}}
        </a>
        <p typography:class="small">
          {{latest.date}}
        </p>
        <ArrowLink @href="{{latest.path}}">
          Read Post
        </ArrowLink>
      </article>
    </ShapeBlog>
  {{/if}}
  <section layout:class="main" offset:class="after-21">
    {{#each posts}}
      <article offset:class="after-12">
        <span typography:class="tag">
          #
          {{topic}}
        </span>
        <div blog-post:class="excerpt">
          <h3>
            <a href="{{path}}" data-internal>
              {{title}}
            </a>
          </h3>
          {{{excerpt}}}
        </div>
        <a href="/blog/author/{{author.twitter}}" data-internal>
          {{author.name}}
        </a>
        <p typography:class="small">
          {{date}}
        </p>
      </article>
    {{/each}}
    <nav aria-label="pagination" pagination:scope>
      {{#if nextPage}}
        <ArrowLink @href="{{nextPage}}" @reverse="true">
          Older
        </ArrowLink>
      {{/if}}
      {{#if previousPage}}
        <ArrowLink @href="{{previousPage}}">
          Newer
        </ArrowLink>
      {{/if}}
    </nav>
  </section>
  <aside layout:class="side" offset:class="after-21">
    <CardTalks />
    <CardEmberSponsors />
  </aside>
  <Footer />
</div>