<a
  href="{{@link}}"
  target={{this.target}}
  data-internal={{this.isInternalLink}}
  rel={{this.rel}}
  block:shallow={{@shallow}}
  block:isVideoLink={{@isVideoLink}}
>
  <img src={{@image}} block:class="image" alt="link to {{@title}}" />
</a>